body {
    margin: 0;
    padding: 0;
    background-color: #87CEFA;
}

.top-menu {
    /*background-color: #87CEFA;*/
    width: 100%;
    height: 40pt;
    position: fixed;
    border-bottom: 2pt solid #3454b4;
}

.top-menu-title, .top-menu-right {
    background-color: orange;
    width: 20%;
    height: 39.5pt;
}

.top-menu-title {
    box-sizing: border-box;
    border-right: 2pt solid white;
    float: left;
}

.top-menu-right {
    box-sizing: border-box;
    float: right;
    border-left: 2pt solid white;
}

.top-menu-center {
    float: left;
    width: 60%;
    height: 39.5pt;
    background-color: #87CEFA;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
}

li {
    float: left;
    border-right: 2pt solid white;
}

li a, .dropbtn {
    bottom: 0;
    font-size: 20pt;
    display: block;
    color: white;
    text-align: center;
    padding: 9pt 25pt;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color: #3454b4;
}

#logo {
    position: absolute;
    bottom: 0;
    margin: 0;
    margin-right: 5pt;
    margin-left: 7pt;
    color: #3454b4;
    font-family: Georgia, Times, "Times New Roman", serif;

}

.center-page {
    box-sizing: border-box;
    background-color: white;
    width: 60.5%;
    height: 1000pt;
    margin: 0 auto;
    padding-top: 45pt;
    border-left: 2pt solid #3454b4;
    border-right: 2pt solid #3454b4;
    border-bottom: 2pt solid #3454b4;
}

h2 {
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0;
    margin: 0;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #87CEFA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #3454b4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#signin {
    color: #3454b4;
    font-size: 20pt;
    padding-left: 40%;
    text-decoration: none;
}
