/* petStop
   Emily Wright
*/
  /* body div */
   body {
       margin: 0;
       padding: 0;
       font-family: Verdana, sans-serif;
       margin:0;
   }
   /* petStop Logo or image in top left of the page */
   #logo {
       display: block;
       float: left;
       width: 275px;
       height: 60px;
       margin-top: 10pt;
       padding-right: 35pt;
       padding-left: 20pt;
   }
   /* cat cartoon image, top right screen */
   #catCartoon {
       display: inline-block;
       width: 125pt;
       height: 69pt;
       float:left;
       margin-left: 2%;
   }

   /* astro logo at top of page */
   #astrologo {
      height: 60px;
      width: 120px;
      display: inline-block;
      margin-top: 12pt;
      margin-left: 3%;
      float: left;
   }
   /* facebook logo at top of page */
   #fblogo {
       height: 60px;
       width: 60px;
       display: inline-block;
       float: left;
       margin-top: 12pt;
       margin-left: 5%;
   }
   /* instagram logo */
   #instalogo {
       height: 60px;
       width: 60px;
       display: inline-block;
       float: left;
       margin-left: 3%;
       margin-top: 12pt;

   }
   /* Astro Image */
   #astroBox {
       width: 280px;
       min-width: 280px;
       height: 100px;
       padding-top: 15px;
       padding-left: 20px;
   }

   /* Top of page titles as a list, such a HOME, FOOD SELECTION, etc. */
   #navigation {
       display: block;
       list-style-type: none;
       margin: 0;
       padding: 0;
       color: black;
   }

   /* top menu div */
   .top-menu {
       background-color: white;
       width:100%;
       min-width: 1500pt;
       /* height: 70pt; */
       height: 6em;
       position: fixed;
       border-bottom: 1pt solid red;
       z-index: 900;
   }

   /* Top of page titles as individuals */
   li a {
       bottom: 0;
       font-size: 20pt;
       display: block;
       color: black;
       float: left;
       text-align: center;
       padding: 25pt 2%;
       text-decoration: none;
   }

   /* Change color as you hover over titles */
   li a:hover, .dropdown:hover .dropbtn{
       color: #e60000;
   }

    /* slideshow css*/
    * {
        box-sizing: border-box;
    }

    .mySlides {
        display: none;
    }
    /* Images on each slide */
    .mySlides img {
        display: block;
        vertical-align: middle;
        height: 750px;
        /* width: 100%; */
        width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Slideshow container */
    .slideshow-container {
        width: 100%;
        min-width: 1500px;
        max-width: 2000px;
        height: auto;
        position: relative;
        padding: 0;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }

    /* Caption text */
    .text {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: Black;
      font-size: 20px;
      position: absolute;
      text-align: center;
      background-color: white;
      opacity: 0.9;
    }
    /* The style for the text for astro on slideshow */
    #textAstro {
      width: 300pt;
      height: 200pt;
      bottom: 40%;
      left: 20%;
    }
    /* Style for located in beautiful bellingham wa */
    #textLocation {
      width: 700pt;
      height: 100pt;
      bottom: 32%;
      left: 25%;
      background-color: transparent;
      opacity: 1.0;
      color: white;
    }
    /* Style for FOOD OF MONTH */
    #textFood {
      width: 380pt;
      height: 250pt;
      bottom: 35%;
      left: 50%;
    }
    /* Styling for sentence describing food of month */
    #textFood p {
        margin-top: 0;
      font-size: 16pt;
    }
    /* Style for Food of the Month Image */
    #foodImageText {
      min-width: 200px;
      width: 300px;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
    }

    .btn {
      background-color: #B22222;
      color: white;
      padding: 75px 75px;
      border: none;
      font-size: 14pt;
    }

    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    /* Div that contains transition dots */
    #dotDiv {
      text-align: center;
      min-width: 1500pt;
    }

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }
    /* Great Pet Links, Food Selection, and About Us div */
    #GreatPetLinks, #FoodSelections, #aboutUs {
        width: 84%;
        margin-left: 8%;
    }
    /* Images in Food Selection and Great Pet Links */
    #GreatPetLinks a img, #FoodSelections a img {
        width: 176px;
        height: 176px;
        margin: 5px;
    }
    /* Titles for each section */
    #FoodSelections h1, #GreatPetLinks h1, #aboutUsHeader {
        z-index: 10;
        position: relative;
        text-align: center;
    }
    /* Sections transition */
    #FoodSelections h1:before, #GreatPetLinks h1:before, #aboutUsHeader:before {
        border-top: 1px solid red;
        content: "";
        margin: 0 auto;
        position: absolute;
        width: 100%;
        top: 20px; left: 0; right: 0; bottom: 0;
        z-index: -10;
    }
    /* Sections span */
    #FoodSelections h1 span, #GreatPetLinks h1 span, #aboutUsHeader span {
        background-color:white;
        padding: 0 15px;
    }
    /* Great Pet Link Section Div */
    #GreatPetLinks div{
        padding-top: 100pt;
    }
    /* All Sections headers */
    #GreatPetLinks h1, #FoodSelections h1, #aboutUs {
        padding-left: 20px;
        font-size: 30pt;
        text-decoration: none;
    }
    /* Food selection and Great Pet Link header */
    #FoodSelections h1, #GreatPetLinks h1 {
        font-weight: normal;
        margin-bottom: 0;
    }
    /* Click on a logo to see product's website */
    .LinkText {
        text-align: center;
        padding-left: 25px;
    }
    /* Google Maps Frame */
    iframe {
        margin-right: 30px;
        margin-bottom: 10px;
        display: inline-block;
        float: left;
    }
    /* About Us Information and paragraph */
    #AUinfo, #AU {
        font-size: 1vw;
        text-align: left;
        width: 600pt;
        margin-top: 0;
        display: inline-block;
        float: left;
    }
    /* petStop Video */
    #video {
      font-size: 2vw;
      text-align: left;
      width: 600pt;
      margin-top: 0;
      display: inline-block;
      float: left;
    }
    /* Image in About Us paragraph */
    .p img {
        display: block;
        max-width: 911px;
        max-height: 399px;
        width: auto;
        height: auto;
    }
